mod/edusharing/services/permission.wsdl.dist

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://permission.webservices.edu_sharing.org"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://permission.webservices.edu_sharing.org"
	xmlns:intf="http://permission.webservices.edu_sharing.org"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->

	<!-- this is an campuscontent LMS Service for example for moodle to find 
		out if the current user is allowed to remove usages there is only a java 
		stub under src-generated -->
	<wsdl:types>
	
		<schema
			elementFormDefault="qualified"
			targetNamespace="http://permission.webservices.edu_sharing.org"
			xmlns="http://www.w3.org/2001/XMLSchema">
			
			<!-- 
				define available roles in the edu-sharing network
				@see http://middleware.internet2.edu/eduperson/docs/internet2-mace-dir-eduperson-200806.html#eduPersonPrimaryAffiliation
			-->
			<simpleType name="role">
				<restriction base="xsd:NMTOKEN">
					<enumeration
						value="faculty" />
					<enumeration
						value="student" />
					<enumeration
						value="staff" />
					<enumeration
						value="employee" />
					<enumeration
						value="alum" />
					<enumeration
						value="member" />
					<enumeration
						value="affiliate" />
				</restriction>
			</simpleType>
			
			<element
				name="checkCourse">
				<complexType>
					<sequence>
						<element
							name="in0"
							type="xsd:string" />
						<element
							name="in1"
							type="xsd:int" />
					</sequence>
				</complexType>
			</element>
			
			<element
				name="checkCourseResponse">
				<complexType>
					<sequence>
						<element
							name="checkCourseReturn"
							type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			
			<element
				name="getPermission">
				<complexType>
					<sequence>
						<element
							name="session"
							type="xsd:string" />
						<element
							name="courseid"
							type="xsd:int" />
						<element
							name="action"
							type="xsd:string" />
						<element
							name="resourceid"
							type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			
			<element
				name="getPermissionResponse">
				<complexType>
					<sequence>
						<element
							name="getPermissionReturn"
							type="xsd:boolean" />
					</sequence>
				</complexType>
			</element>

			<element
				name="getPrimaryRoleIn">
				<complexType>
					<sequence>
						<element
							name="userid"
							type="xsd:string" />
						<element
							name="session"
							type="xsd:string" />
					</sequence>
				</complexType>
			</element>

			<element
				name="getPrimaryRoleOut">
				<complexType>
					<sequence>
						<element
							name="primaryRole"
							type="role" />
					</sequence>
				</complexType>
			</element>

		</schema>
		
	</wsdl:types>

	<wsdl:message
		name="checkCourseResponse">
		<wsdl:part
			element="impl:checkCourseResponse"
			name="parameters" />
	</wsdl:message>

	<wsdl:message
		name="checkCourseRequest">
		<wsdl:part
			element="impl:checkCourse"
			name="parameters" />
	</wsdl:message>

	<wsdl:message
		name="getPermissionRequest">
		<wsdl:part
			element="impl:getPermission"
			name="parameters" />
	</wsdl:message>

	<wsdl:message
		name="getPermissionResponse">
		<wsdl:part
			element="impl:getPermissionResponse"
			name="parameters" />
	</wsdl:message>

	<wsdl:message
		name="getPrimaryRoleRequest">
		<wsdl:part
			element="impl:getPrimaryRoleIn"
			name="parameters" />
	</wsdl:message>

	<wsdl:message
		name="getPrimaryRoleResponse">
		<wsdl:part
			element="impl:getPrimaryRoleOut"
			name="parameters" />
	</wsdl:message>

	<wsdl:portType
		name="CCPermission">

		<wsdl:operation
			name="checkCourse">
			<wsdl:input
				message="impl:checkCourseRequest"
				name="checkCourseRequest" />
			<wsdl:output
				message="impl:checkCourseResponse"
				name="checkCourseResponse" />
		</wsdl:operation>

		<wsdl:operation
			name="getPermission">
			<wsdl:input
				message="impl:getPermissionRequest"
				name="getPermissionRequest" />
			<wsdl:output
				message="impl:getPermissionResponse"
				name="getPermissionResponse" />
		</wsdl:operation>

		<wsdl:operation
			name="getPrimaryRole">
			<wsdl:input
				message="impl:getPrimaryRoleRequest"
				name="getPrimaryRoleRequest" />
			<wsdl:output
				message="impl:getPrimaryRoleResponse"
				name="getPrimaryRoleResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding
		name="ccpermissionSoapBinding"
		type="impl:CCPermission">

		<wsdlsoap:binding
			style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation
			name="checkCourse">
			<wsdlsoap:operation
				soapAction="" />
			<wsdl:input
				name="checkCourseRequest">
				<wsdlsoap:body
					use="literal" />
			</wsdl:input>
			<wsdl:output
				name="checkCourseResponse">
				<wsdlsoap:body
					use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation
			name="getPermission">
			<wsdlsoap:operation
				soapAction="" />
			<wsdl:input
				name="getPermissionRequest">
				<wsdlsoap:body
					use="literal" />
			</wsdl:input>
			<wsdl:output
				name="getPermissionResponse">
				<wsdlsoap:body
					use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation
			name="getPrimaryRole">
			<wsdlsoap:operation
				soapAction="" />
			<wsdl:input
				name="getPrimaryRoleRequest">
				<wsdlsoap:body
					use="literal" />
			</wsdl:input>
			<wsdl:output
				name="getPrimaryRoleResponse">
				<wsdlsoap:body
					use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service
		name="CCPermissionService">
		<wsdl:port
			binding="impl:ccpermissionSoapBinding"
			name="ccpermission">
			<wsdlsoap:address
				location="http://127.0.0.1/mod/edusharing/services/permission.php" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
